<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.attributes.each do |name, value| %>
      <tr>
          <td><%= label_tag(name) %>:</td>
          <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
